<!DOCTYPE html>
<html>
<head>
    <script src="@Url.Content("~/Scripts/lib/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-paginatedautocomplete.js")" type="text/javascript"></script>

    <link type="text/css" href="@Url.Content("~/Css/ui-lightness/jquery-ui-1.10.3.custom.css")" rel="stylesheet" />    
</head>
<body>
    @RenderBody()
</body>
</html>
